/* body {
    background:rgb(182, 240, 255);
    font-family: sans-serif;
  }
  [aria-label="close"] {
    float: right;
    appearance: none;
    border-radius: 5rem;
    margin: -1em;
  }
  div {
    margin-top: 1em;
  }
  h2 + div {
    margin-top: -1em;
  }
  label {
    display: flex;
    flex-direction: column;
  } */

  
  